@using Store.Web.Security
@inject IProductRepository ProductRepository
@{
    ViewData["Title"] = "Товары";
    var products = (await ProductRepository.GetAsync()).ToArray();
}

<div>
    <h1 class="display-4">Товары</h1>
    <hr/>
    <br/>

    @if( !products.Any() )
    {
        <div class="alert alert-info">На данный момент товаров нет</div>
    }
    else
    {
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Цена</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach( var product in products )
            {
                <tr>
                    <td>@product.Title</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td class="text-center">
                        @if( User.IsAdmin() )
                        {
                            <a class="btn btn-outline-danger" 
                               asp-controller="Product" 
                               asp-action="Delete"
                               asp-route-id=@product.Id></a>
                        }
                        else
                        {
                            <a class="btn btn-outline-success"
                               asp-controller="Basket" 
                               asp-action="Add" 
                               asp-route-productId=@product.Id 
                               asp-route-count=1>Добавить</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>