@{
    ViewData["Title"] = "Оформление заказа";
}
<div class="alert alert-success">
    <h1 class="display-4">Успешно!</h1>
    <p class="lead">Ваш заказ оформлен и уже находится в обработке</p>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-info">На главную</a>