@{
    ViewData["Title"] = "Отмена заказа";
}

<div class="alert alert-danger">
    <h1 class="display-4">Заказ отменен</h1>
    <p class="lead">Деньги будут перечислены на карту в течение 3 рабочих дней</p>
</div>
<a asp-controller="Account" asp-action="Profile" class="btn btn-outline-info">Вернуться</a>
