@{
    ViewData["Title"] = "О нас";
}

<h1 class="display-4">О нас</h1>

<p class="lead">
    На фоне карантина погибает множество предприятий малого и среднего бизнеса. <br/>
    Но наше предприятие только цветет, местами даже пахнет. <br/>
    Только в нашем магазине вы найдете 
    
    
</p>
<ul class="lead">
    <li>Маски по привлекательной цене(в других магазинах вы их вообще не найдете)</li>
    <li>Бахилы(хотя из дома вам выходить крайне нежелательно)</li>
    <li>Бояру(для бояр и барыней)</li>
</ul>
<p class="lead">
    И многое многое другое.
</p>