@inject GreetingService GreetingService
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">@GreetingService.GetGreeting()</h1>
    <p class="lead">Вас приветствует магазин "Карантинчик"</p>
</div>
