@model Store.BusinessLogic.Models.Account.SignUpModel

@{
    ViewData["Title"] = "Регистрация";
}

<div class="d-flex justify-content-center">
    <div class="col-md-8 col-sm-12">
        <h1 class="display-4 text-center">Регистрация</h1>
        <hr/>
        <form asp-action="SignUp">
            <div class="form-group">
                <label asp-for="Email" class="lead">Введите e-mail: </label>
                <input asp-for="Email" type="email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="lead">Введите имя: </label>
                <input asp-for="FirstName" type="text" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="lead">Введите фамилию: </label>
                <input asp-for="LastName" type="text" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="lead">Введите пароль: </label>
                <input asp-for="Password" type="password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="lead">Повторите пароль: </label>
                <input asp-for="ConfirmPassword" type="password" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <br/>
                <button type="submit" class="btn btn-outline-info col-md-6 col-sm-4">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>