@model Store.BusinessLogic.Models.Account.SignInModel

@{
    ViewData["Title"] = "Войти";
}

<div class="d-flex justify-content-center">
    <div class="col-md-8 col-sm-12">
        <h1 class="display-4 text-center">Авторизация</h1>
        <hr/>
        <form asp-action="SignIn">
            <div class="form-group">
                <label asp-for="Email" class="lead">Введите e-mail: </label>
                <input asp-for="Email" type="email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="lead">Введите пароль: </label>
                <input asp-for="Password" type="password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <br/>
                <button type="submit" class="btn btn-outline-info col-md-6 col-sm-4">Войти</button>
            </div>
            <div class="form-group text-center">
                <a asp-controller="Account" asp-action="SignUp" class="lead">Нет учётной записи? Создайте её!</a>
            </div>
        </form>
    </div>
</div>
